*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: rgb(33, 42, 44);
}

.calculator{
    text-align: center;
    padding-top: 20px;
    
}

.grid{
    display: inline-grid;
    background-color: rgba(240, 248, 255, 0.822);
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(4, 50px);
    grid-template-rows: repeat(7, 50px);
    padding: 4px;
    border: solid 4px rgb(14, 18, 19);
    border-radius: 4px;
}

.saved-display, .current-display{
    grid-column: 1/-1;
    background-color: rgb(99, 108, 117);
    height: 80%;
    line-height: 40px;
    width: 100%;
    color: white;
    border-radius: 2px;
    text-align: right;
    box-sizing: border-box;
    padding-right: 10px;
}

.span-two{
    grid-column: span 2;
}

button{
    background-color: rgb(99, 108, 117);
    color: white;
    font-size: large;
    border-radius: 5px;
}

button:hover{
    background-color: rgb(57, 62, 68);
    cursor: pointer;
}